# Dependencies
node_modules

# Build output
dist
dist-ssr
storybook-static

# Logs
*.log
*storybook.log

# Local overrides
*.local

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
